/* Use your own code or past solution for Great Idea Web Page CSS here! */
* {
    padding: 0px;
    margin: 0 auto;
}
body {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
   }
   header {
       display: flex;
       width: 100%;
       margin: 0 auto;
       justify-content: space-between;
   }
   .header a {
       height: 50px;
       width: 100%;
       justify-content: space-between;
       color: gray;
       text-decoration: none;
   }
   .header img {
       height: 50%;
       width: 20;
       padding-top: 10px;
   }
   #container {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       margin: 0 auto;
       height: 40vh;
       width: 100%;
       border-bottom: 1px solid black;
   }
   .text {
       font-size: 3rem;
       font-style: italic;
       text-transform: uppercase;
       font-weight: bold;
       width: 30%;
       text-align: center;
       border: 1px solid magenta;
   }
   .main {
       width: 100%;
       margin: 0 auto;
       border-bottom: 1px solid black;
   }
   .about {
       width: 45%;
   }
   .features {
       width: 45%;
   }
   .mid-img {
       width: 25%;
       height: 60%;
   }
   .last-img {
       height: 20vh;
       width: 100%;
       margin: 0 auto;
   }
   .services {
       display: inline-block;
       width: 25%;
       height: auto;
   }
   .product {
       display: inline-block;
       width: 25%;
       margin-left: 100px;
   }
   .vision {
       width: 25%;
       margin-left: 100px;
       height: auto;
   }
   .address {
       width: 100%;
       text-align: left;
       margin-left: 2rem;
   }
   footer {
       display: flex;
       flex-direction: column;
       margin-top: 10px;
       text-align: center;
   }
   .para {
       width: 100%;
       margin: 0 auto;
       margin-bottom: 10px;
   }
   
   button {
       padding-bottom: 10px;
       height: 30px;
       width: 200px;
   }
   .holder {
       display: flex;
       justify-content: left;
       padding: 1rem 0;
       height: 10vh;
       width: 100%;
   }
   .nav {
       width: 100%;
       display: flex;
       justify-content: space-between;
       padding-top: 1.5rem;
   }
   .three {
       padding: 1.5rem 0;
       display: flex;
       align-items: center;
   }
   @media (max-width: 800px) {
    body {
        width: 90%;
        margin: 0 auto;
    }
    header {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }
    .nav a {
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .mid-img {
        display: none;
    }
    #container {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .text {
        width: 70%;
        justify-content: center;
    }
    .last-img {
        height: 10vh;
    }
    .holder {
        height: auto;
        width: 100%;
    }
   @media (max-width: 500px) {
    body {
        background: lime;
        width: 90%; 
        margin: 0 auto; 
   }
    .header {
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
        height: 40vh;
    } 
    .nav {
        flex-direction: column;
        height: 40vh;
    } 
    .header img {
        width: 40%;
        height: 10%;
        justify-content: center;
    }
   .nav a {
       display: flex;
       width: 100%;
       align-items: center;
       justify-content: center;
       text-decoration: none;
       border-bottom: 1px solid gray;
   }
   .mid-img {
       display: none;
   }
   #container {
       height: 30vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin: 0 auto;
   }
   .text {
       width: 80%;
   }
   .holder {
       height: 25vh;
       width: 100%;
       display: flex;
       flex-direction: column;
   }
   .features {
       width: 100%;
   }
   .about {
       width: 100%;
   }
   .last-img {
       height: 12vh;
       padding: 0;
   }
   .three {
       margin: 0 auto;
       display: flex;
       flex-direction: column;
   }
   .services {
       width: 100%;
   }
   .product {
       margin: 0 auto;
       width: 100%;
   }
   .vision {
       width: 100%;
       margin: 0 auto;
   }
   .border {
       border-top: 1px solid gray;
   }
   .footer {
       margin: 0 auto;
       width: 100%;
   }
   .address {
       width: 100%;
       margin: 0 auto;
       padding: 10px 0;
   }
   .one {
       width: 100%;
   }